{% extends 'poll/base.html' %}
{% block content %}

    <div class="container">
        <h1 style="margin-bottom: 30px; text-align: center;">Signature Verification</h1>
        <div style="padding:3%; border:1px solid black;">
            <p>Your vote was <code>{{ ballot }}</code></p>
            <p>Generated signature <code>{{ signature }}</code></p><br>
            <p style="color:{% if error %} red {% else %} green {% endif %};">
                {{ status }}
            </p>
        
            {% if not error %}
            <form action="{% url 'vote' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-block">Go to vote</button>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}